<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Some Website</title>
</head>

<body>
     {{> header}}
    <p>Some text</p>
    <p>Welcome {{scremIt welcomeUser}}</p>

    {{> footer}}
</body>

</html> 