<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Projects Website</title>
</head>

<body>
     {{> header}}
    <p>My Portfolio</p>
    <p>Angular Project {{scremIt myNgProject}}</p>

    {{> footer}}
</body>

</html> 